extends ./../layout

block content
  div.single_content
    div.show
      div.mainshow

        img(src="#{photo.link}")
        p author : #{photo.author}
        p description : #{photo.description}

        if currentUser == photo.author
          form(method="POST" action="/gallery/#{photo.id}" enctype="application/x-www-form-urlencoded")#form4.editform
            input(type="hidden" name="_method" value="DELETE")
            button(type="submit" form="form4" value="Delete")#delete.button DELETE

          form(method="GET" action="/gallery/#{photo.id}/edit" enctype="application/x-www-form-urlencoded")#form2.editform
            button(type="submit" form="form2" value="Edit")#edit.button EDIT

      div#sideshow
        div.sideshowcontent
          each photo in otherPhotos
            a(href="/gallery/#{photo.id}")
              img(src="#{photo.link}")