extends ./../layout

block content
  div
    img(src="#{photo.link}")
    p author : #{photo.author}
    p description : #{photo.description}

    form(method="POST" action="/gallery/#{photo.id}" enctype="application/x-www-form-urlencoded")#form1
      input(type="hidden" name="_method" value="DELETE")
      button(type="submit" form="form1" value="Delete")#delete Delete

    form(method="GET" action="/gallery/#{photo.id}/edit" enctype="application/x-www-form-urlencoded")#form2
      button(type="submit" form="form2" value="Edit")#edit Edit